body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 80px;
}

.navbar-nav > li > .dropdown-menu {
    /*border-top-left-radius: 0;
    border-top-right-radius: 0;*/
    margin-top: -1px;
    border-top: 1px solid #0047b3;
}

.dropdown-menu {
    background-color: #66a3ff;
    color: #f5fffa;
    margin-left: -1px;
    border: 1px solid #3385ff;
    border: 1px solid rgba(54, 130, 244, 0.85);
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 10px rgba(54, 130, 244, 0.85);
    box-shadow: 0px 5px 10px rgba(54, 130, 244, 0.85);
}

    .dropdown-menu .divider {
        background-color: #cce0ff;
        padding: 0px;
        margin: 0px;
    }

    .dropdown-menu > li > a {
        padding: 5px 30px;
    }

    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        color: #0052cc;
    }

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        text-decoration: none;
        background-color: #cce0ff;
    }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #cce0ff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #cce0ff;
}

.jumbotron-custom {
    margin-bottom: 20px;
    padding: 0px 15px 15px 15px;
    background-color: #f2f2f2;
    border: 1px #cccccc solid;
    font-family: 'Open Sans Light',X-LocaleSpecific-Light,'Open Sans',X-LocaleSpecific,sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    text-shadow: 0 1px 1px #fff;
    color: #333;
    line-height: 1.5;
}

    .jumbotron-custom .content-body {
    }

    .jumbotron-custom .h3 {
        color: #0052cc;
        font-size: 20px;
    }

.content-head {
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    text-shadow: 0 1px 1px #fff;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans Light',X-LocaleSpecific-Light,'Open Sans',X-LocaleSpecific,sans-serif;
}

.search-box {
    padding: 15px 15px 0px 15px;
    background-color: #f2f2f2;
    border-left: 5px #3385ff solid;
    font-family: 'Open Sans Light',X-LocaleSpecific-Light,'Open Sans',X-LocaleSpecific,sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    /*text-shadow: 0 1px 1px #fff;*/
    color: #333;
    line-height: 1.5;
    margin-bottom: 15px;
}

.info-box {
    padding: 15px 15px 0px 15px;
    background-color: #f2f2f2;
    border-color: #3385ff;
    border-style: solid;
    border-width: 1px 4px;
    font-family: 'Open Sans Light',X-LocaleSpecific-Light,'Open Sans',X-LocaleSpecific,sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    /*text-shadow: 0 1px 1px #fff;*/
    color: #333;
    line-height: 1.5;
    margin-bottom: 15px;
}

    .info-box .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-top: 0px solid #ddd;
    }

.panel-lightgreen {
    border-color: #3385ff;
}

    .panel-lightgreen > .panel-heading {
        color: #0052cc;
        background-color: #f2f2f2;
        border-color: #3385ff;
    }

        .panel-lightgreen > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #3385ff;
        }

        .panel-lightgreen > .panel-heading .badge {
            color: #f2f2f2;
            background-color:  #4d94ff;
        }

    .panel-lightgreen > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #3385ff;
    }

.panel-green {
    border-color: #0047b3;
}

    .panel-green > .panel-heading {
        color: #fff;
        background-color: #66a3ff;
        border-color: #0047b3;
    }

        .panel-green > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #0047b3;
        }

        .panel-green > .panel-heading .badge {
            color: #4d94ff;
            background-color: #fff;
        }

    .panel-green > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #0047b3;
    }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

    input.submitted.ng-invalid {
        border: 1px solid #f00;
    }

.form-warning {
    color: #f00;
    border-left: 1px solid #cccccc;
    padding-left: 5px;
}

.btn {
    border-radius: 0px;
    margin: 3px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.input-group {
}

    .input-group input, .input-group textarea {
        border-radius: 0;
    }

.input-group-addon, .input-group-btn {
    max-width: 45px !important;
    min-width: 45px !important;
    vertical-align: middle;
    white-space: nowrap;
}

.form-group label {
    display: inline-block;
    font-weight: 400;
    margin-bottom: 5px;
    max-width: 100%;
}

.panel {
    padding: 0px;
}

.panel-body {
    padding: 20px 20px 5px 20px;
}


.table {
    margin-bottom: 15px;
}

.panel-radious-0 {
    border-radius: 0 !important;
}

.green-bg {
    background: #003380;
    color: #fff;
}

.bcause-style .panel-default .panel-heading {
    background-color: #4d94ff;
    border-color: #005ce6;
    color: #fff;
    height: 44px;
}

.bcause-green {
    top: 0;
    width: 100%;
    background: #0047b3;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

    .bcause-green a {
        color: #fff !important;
        transition: 0.3s;
    }

        .bcause-green a:hover {
            /*color: #006600 !important;*/
        }

.bcause-style .input-group-addon {
    background-color: #eee;
    border-radius: 0;
    color: #555;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}

.bcause-style i {
    color: gray;
}

.bcause-style a {
    color: #3385ff;
}

.bcause-style .panel-heading {
    border-bottom: 1px solid transparent;
    padding: 2px 15px;
}

.creat-user-control {
    float: right;
    margin: 10px 10px 0 0;
}

    .creat-user-control > a {
        color: #fff;
        text-decoration: underline;
    }

        .creat-user-control > a:hover {
            text-decoration: none;
        }

.btn-success {
    background-color: #4d94ff;
    border-color: #005ce6;
    color: #fff;
}

/*******************Login**********************/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 0 auto 100px;
    padding: 87px;
    text-align: center;
    width: 466px;
    z-index: 1;
    height: auto;
    overflow: hidden;
}

.form-control {
    border-radius: 0px;
    height: 32px;
}

    .form-control:focus {
        border-color: #ccc;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(99, 98, 98, 0.38), 0px 1px 6px rgba(105, 105, 105, 0.47);
        box-shadow: inset 0 1px 1px rgba(99, 98, 98, 0.38), 0px 1px 6px rgba(105, 105, 105, 0.47);
    }

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0px;
    margin: 0 0 15px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
}

    .form input:focus {
        background: #ffffff;
    }

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4d94ff;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.select-btn {
    margin-top: -10px;
    margin-bottom: 10px;
}

.select-img-controler {
    margin-left: -5px;
}

.color-white {
    color: #FFF !important;
}

.float-right {
    float: right;
}

.text-right {
    text-align: right;
}

.add-to-cart-btn {
    text-align: right;
    float: right;
    margin-top: 5px;
}

.message-warning {
    color: #ff9900;
}

.col-md-4.control-label.control-label2 {
    padding-top: 0;
}

.form-group.form-group2 {
    margin-bottom: 5px;
}

.btn-success2 {
    background-color: #4d94ff;
    border-color: #005ce6;
    color: #fff;
    width: 64%;
}

.btn-success3 {
    background-color: #4d94ff;
    border-color: #005ce6;
    color: #fff;
    width: 24%;
}

.btn-warning3 {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
    width: 25%;
}

.btn-danger3 {
    background-color: #C9302C;
    border-color: #eea236;
    color: #fff;
    width: 25%;
}

.btn-success-custom {
    background-color: #4d94ff;
    border-color: #005ce6;
    color: #fff;
    margin-right: 4px;
}

.add-to-cart-btn.col-md-6 > a {
    color: #fff;
}

.add-btn-ctrl {
    margin-top: 4px;
}

    .add-btn-ctrl a i {
        color: #fff;
    }

    .add-btn-ctrl a {
        color: #fff;
    }
/************modal*************/
.modal-header.panel-heading h4 {
    padding-top: 8px;
}

.modal-header .close2 {
    margin-top: 9px !important;
}

.modal-dialog-custom {
    margin-top: 10%;
}
/****************Stiki Footer**********************/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px; /* bottom = footer height */
}

footer {
    text-align: center;
    width: 100%;
    background: #0047b3;
    padding: 0px 0px 10px 0px;
    bottom: 0;
    left: 0%;
    position: absolute;
    color: #b3d1ff;
}

.footer_top {
    height: 6px;
    width: 100%;
    top: 0;
    padding: 0px;
    background-color: #80b3ff;
}

.footer_hr {
    height: 1px;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    background-color: #66a3ff;
    border: 0 none;
}

.footer-text {
    font-size: 14px;
    padding: 10px 0px 0px 0px;
}

p.copyright {
    padding-top: 5px;
    color: #b3d1ff;
}

.header_foot {
    height: 5px;
    width: 100%;
    top: 0;
    padding: 0px;
    background-color: #80b3ff;
}

.pagination {
    margin: 0px 0;
    border-radius: 0px;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li > a,
        .pagination > li > span {
            position: relative;
            float: left;
            padding: 3px 12px;
            margin-left: -1px;
            line-height: 1.25857143;
            color: #808080;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #999999;
        }

        .pagination > li:first-child > a,
        .pagination > li:first-child > span {
            margin-left: 0;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .pagination > li:last-child > a,
        .pagination > li:last-child > span {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus {
            z-index: 2;
            color: #808080;
            background-color: #cccccc;
            border-color: #999999;
        }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #808080;
        border-color: #999999;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        color: #808080;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #999999;
    }
